<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>问题列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/static/res/layui/css/layui.css">
    <link rel="stylesheet" href="/static/res/css/global.css">
    <script src="/static/res/layui/layui.js"></script>
</head>
<body>
<div class="main layui-clear">
    <div class="wrap">
        <div class="content" style="margin-right:0">
            <div class="fly-tab"></div>

            <ul class="fly-list">
                {% for i in q %}
                <li class="fly-list-li">
                    <a href="/detail/{{ i.id }}/" target="_blank" class="fly-list-avatar">
                        <img src="/media/{{i.users.img}}" alt="头像">
                    </a>
                    <h2 class="fly-tip">
                        <a href="/detail/{{ i.id }}/" target="_blank">{{i.title}}</a>
                        {% if i.top == "T" %}
                        <span class="fly-tip-stick">置顶</span>
                        {% endif %}
                    </h2>
                    <p>
                        <span><a href="/detail/1/" target="_blank">{{i.users.nickname}}</a></span>
                        <span>{{i.createTime}}</span>
								<span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> {{i.answer_set.count}}
            </span>
                    </p>
                </li>
                {% endfor %}
            </ul>

            <div style="text-align: center">
                <div class="laypage-main">
                 {% if q.has_previous %}
                    <a href="/questions/?page={{ q.previous_page_number }}" class="laypage-next">上一页</a>
                {% endif %}
                    {% for i in paginator.page_range %}
                        {% if i == page %}
                            <span class="laypage-curr">{{ i }}</span>
                        {% else %}
                            <a href="/questions/?page={{ i }}" class="laypage" title="{{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                    <a href="/questions/?page={{ paginator.num_pages }}" class="laypage-last" title="尾页">尾页</a>
                {% if q.has_next %}
                    <a href="/questions/?page={{ q.next_page_number }}" class="laypage-next">下一页</a>
                {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
</body>

</html>